* {
  box-sizing: border-box;
  outline: none;
}

a:hover {
  text-decoration: none;
}

.list-action-btn {
  border: none;
}

.page-link:focus {
  box-shadow: none;
}

.list-content-row {
  border-bottom: 1px solid #f5f5f5;
}

.list-content-row:hover {
  background: #f5f5f5 !important;
}

.list-content-row:nth-child(odd) {
  background: #fefefe;
}

.list-content-row:last-child {
  border: none;
}

.list-column-header {
  font-weight: bold;
  padding: 0.2em 0.5em;
}

.list-column {
  padding: 0.2em 0.5em;
}

.filter-column {
  align-self: center;
}
