* {
  box-sizing: border-box;
  outline: none;
}

body {
  background: #fafafa;
}

a:hover {
  text-decoration: none;
}

.breadcrumb-container {
  background: darkkhaki;
}

.main-left-menu {
  color: white;
  background: #636f83;
  height: calc(100vh - 60px);
}

.main-left-menu a {
  color: white;
}

.main-left-menu li:hover {
  margin: 0;
  padding: 0;
}

.main-left-menu li:hover {
  background: #4f5d73;
  cursor: pointer;
}

.list-action-btn {
  border: none;
}

.page-link:focus {
  box-shadow: none;
}

.list-content-row,
.list-content-header-row {
  border-bottom: 1px solid #f5f5f5;
}

.list-content-row:hover {
  background: #f5f5f5 !important;
}

.list-content-row:nth-child(odd) {
  background: #fefefe;
}

.list-content-row:last-child {
  border: none;
}

.list-column-header {
  font-weight: bold;
  padding: 0.2em 0.5em;
}

.list-column {
  padding: 0.2em 0.5em;
}

.filter-column {
  align-self: center;
}
