
<form {{action "submit" on="submit"}} autocomplete="off">

  {{yield}}

  <button type="reset" style="display: inline">reset</button>
  <button type="submit" style="display: inline">filter</button>
</form>