<WrapperFilter @onSubmit={{action this.handleSubmit}} @onReset={{action this.handleReset}}>

  <div class="col-4 filter-column">
    <div class="form-group">
      <label for="title">Title</label>
      <Input id="title" class="form-control" name="title" @value={{this.filter.title}} />
    </div>
  </div>

  <div class="col-4 filter-column">
    <div class="form-group">
      <label for="description">Description</label>
      <Input id="description" class="form-control" name="description" @value={{this.filter.description}} />
    </div>
  </div>


</WrapperFilter>