<Wrapper::Filter @onSubmit={{action this.handleSubmit}} @onReset={{action this.handleReset}}>

  <div class="col-3 filter-column">
    <div class="form-group">
      <Input id="title" class="form-control form-control-sm" name="title" @value={{this.filter.title}} placeholder="Filter by: Title" />
    </div>
  </div>

  <div class="col-3 filter-column">
    <div class="form-group">
      <Input id="description" class="form-control form-control-sm" name="description" @value={{this.filter.description}} placeholder="Filter by: Description" />
    </div>
  </div>


</Wrapper::Filter>